.Rproj.user
.Rhistory
.RData
.Ruserdata

data-raw/Guinea_osmmp
data-raw/gin_master.csv
data/gin_master_dn.dt

data-raw/GIN_environmentALL.RData
data/GINenvironment.RData
data/GINenvironment.RData

data-raw/gin_emdiresults.xlsx
data/GINpostestenvir.RData
data/gin_general_2020.tif

data/ginspace.RData
data/nc_ginspace.RData
data/gin_subareaenv.RData
data/prepare_gin_Environment_dn.RData
