.Rproj.user
.Rhistory
.RData
.Ruserdata

data-raw/Guinea_osmmp

data/GINenvironment.RData
data/GINenvironment.RData
data/GINenvironment.RData

data-raw/gin_emdiresults.xlsx
data/GINpostestenvir.RData
data/gin_general_2020.tif

data/ginspace.RData
data/gin_hhmenvir.RData
inst/doc

inst/data/postestimation/hhgeosurvey.csv
docs
